<table class="table">
    <thead>
        <tr class="row align-items-center ml-4" >
          <a routerLink="/Home"><th scope="col">HOME</th></a>
          <a routerLink="/employee"><th scope="col">Employee List</th></a>
          <a routerLink="/CreateEMP"><th scope="col">Create Employee</th></a>

                 
  <!--   <a href=""><select>
            <option value="">A</option>
            <option value="">B</option>
            <option value="">C</option>
        </select></a> -->

        <button class="ml-4 "(click)="logout()">
            Logout
        </button>

        </tr>
        
      </thead>
      
      <br><br>
      
      <tbody class="">
        <tr *ngFor="let item of listData">
          <!-- <th scope="row">1</th> -->
          <th>Unique Id</th>
          <th>image</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mob No.</th>
          <th>Designation</th>
          <th>Gender</th>
          <th>Course</th>
          <!-- <th>Create date</th> -->
          <th>Action</th>
          <button type="button">Edit/Delete</button>
        </tr>
       <tr>
           <td>1</td>
           <td></td>
           <td>Azeem</td>
           <td>hc@cstech.in</td>
           <td>989898989</td>
           <td>MEAN STACK Developer</td>
           <td>Male</td>
           <td>BCA</td>
           <td>19/feb/21</td>
           <td>Active</td>
       </tr>
      </tbody>
</table>

<br><br><br>

<div style="text-align:center">

    <!-- <p>
      <button (click)="logout()">
        Logout
      </button>
    </p> -->

    <!-- <img width="300" alt="Angular Logo"
     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->

      <h1>
        Welcome Employee Page
      </h1> 
  </div>

